@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;700&display=swap');
@font-face {
    font-family: 'alexana';
    src: url('font/alexana-webfont.woff2') format('woff2'),
         url('font/alexana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometos';
    src: url('font/geometos.woff2') format('woff2'),
         url('font/geometos.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --white: #f8f9f2;
    --purple: #300f2a;
    --green: #04f9ce;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #003329;
    border-bottom: 1px solid #359381;
    z-index: 99;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
    font-family: 'geometos', sans-serif;
    transition: all .2s ease-in;
}

.navigation a:hover, .navigation a.active {
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .sec {
    padding-top: 180px;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #170424;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-family: 'alexana', sans-serif;
    color: var(--purple);
    letter-spacing: 24px;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px transparent,
        0 0 82px transparent,
        0 0 92px transparent,
        0 0 102px transparent,
        0 0 151px transparent; */
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
}

/* about */
.sec {
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-family: 'geometos', sans-serif;
    font-size: 3em;
    color: var(--white);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.sec p {
    margin-bottom: 30px;
}

.sec .container {
    margin: auto;
    width: 50%;
}

.sec .container p {
    justify-content: center;
    font-size: 1em;
    color: var(--white);
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.divider {
    display: block;
    border-bottom: 3px solid var(--white);
    margin: auto;
}

/* Portfolio */
.portfolio {
    background-color: #003329;
    color: var(--white);
    position: relative;
}

.portfolio h3 {
    text-align: center;
    font-family: 'geometos', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1em;
}

.portfolio label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

.portfolio form {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
.portfolio input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

.portfolio input:focus ~ .keys {
	opacity: 0.8;
}

.portfolio input:nth-of-type(2):checked ~ label:nth-of-type(2),
.portfolio input:nth-of-type(3):checked ~ label:nth-of-type(3),
.portfolio input:nth-of-type(1):checked ~ label:nth-of-type(1), 
.portfolio input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

.portfolio input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

.portfolio input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

.portfolio input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

.portfolio input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

.portfolio label {
	background: #444;
	background-size: cover;
	font-size: 3rem;
}

.portfolio label:before,
.portfolio label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	/* vertical-align: middle; */
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.portfolio label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.portfolio label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

/* Contact */
.contact {
    background-color: var(--purple);
    position: relative;
    color: var(--white);
    min-height: 90vh;
}

.contact .container{
    margin: auto;
    width: 50%;
    text-align: center;
}

.contact h3 {
    font-family: 'geometos', sans-serif;
    font-size: 3em;
    padding-top: 100px;
}

.contact p {
    margin: 30px 0 30px;
}

.contact .content {
    margin-top: 30px;
}

.contact span {
    font-family: 'gothic A1', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    display: block;
}

.contact a {
    font-family: 'gothic A1', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s;
    display: block;
    margin: 15px;
}

.contact a:hover {
    color: var(--green);
}

#preloader {
    background: #000 url('gif/preloader.gif') no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}