@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;700&display=swap");
@font-face {
  font-family: "alexana";
  src: url("font/alexana-webfont.woff2") format("woff2"),
    url("font/alexana-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geometos";
  src: url("font/geometos.woff2") format("woff2"),
    url("font/geometos.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #f8f9f2;
  --purple: #300f2a;
  --green: #04f9ce;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

/* nav menu mobile */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  clip-path: circle(25px at calc(0% + 45px) 45px);
  background: #112151;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.logo-mobile {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.logo-mobile img {
  height: 3rem;
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: all 0.3s ease-in-out;
}

.mobile-show {
  display: none;
}

#active:checked ~ .menu-btn {
  color: #fff;
  background: #112151;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 5px 30px;
  color: var(--green);
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  font-family: "geometos", sans-serif;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover {
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

/* Parallax Hero */
.bg-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #170424;
}

.bg-mobile img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100vh;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #170424;
}

#mountain {
  transform: translateY(0);
  transition: transform 0.5s;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100vh;
}

.layer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #170424;
}

.layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100vh;
}

.ag-format-container {
  width: 96%;
}

.pen {
  max-width: 335px;
}
.element {
  width: 70px;
  height: 300px;
}
.element.inactive {
  width: 30px;
}
.element.active {
  width: 190px;
}
.stage {
  max-width: 335px;
}

/* about */
.sec {
  position: relative;
  background: #112151;
  padding: 50px 50px 70px 50px;
  background-image: url("img/about-bg.png");
  background-size: cover;
}

.sec h2 {
  font-family: "geometos", sans-serif;
  font-size: 1.5em;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.sec .container {
  margin: auto;
  width: 100%;
}

.sec .container h2 {
  margin-bottom: 0.7em;
}

.sec .container p {
  justify-content: center;
  font-size: 1em;
  color: var(--white);
  font-weight: 300;
  text-align: center;
}

.divider {
  display: block;
  border-bottom: 3px solid var(--white);
  margin: auto;
}

/* Slider */
.work {
  position: relative;
  background: #112151;
  padding: 60px 50px 60px 50px;
  background: rgb(54, 115, 201);
  background: linear-gradient(
    180deg,
    rgba(54, 115, 201, 1) 0%,
    rgba(62, 119, 195, 1) 100%
  );
}

.work h2 {
  font-family: "geometos", sans-serif;
  font-size: 2em;
  color: var(--white);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.pen {
  max-width: 260px;
  width: 100%;
  margin: 50px auto 0;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}

.stage {
  width: 100%;
  max-width: 260px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element {
  background: var(--purple) 50% 0 no-repeat;
  background-size: cover;
  width: 82px;
  -webkit-transform-origin: 50% 50%;
  height: 404px;
  margin: 0 7px 0 0;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.element.active {
  width: 152px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element.inactive {
  width: 47px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}

.element:last-of-type {
  margin: 0;
}

/* Contact */
.contact {
  background-image: url("img/contact-bg.png");
  position: relative;
  color: var(--white);
  min-height: 60vh;
}

.contact .container {
  margin: auto;
  width: 80%;
  text-align: center;
}

.contact h3 {
  font-family: "geometos", sans-serif;
  font-size: 2em;
  padding-top: 70px;
}

.contact p {
  margin: 20px 0 20px;
}

.contact .content {
  display: inline-flex;
  margin-top: 20px;
}

.contact a {
  font-family: "gothic A1", sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
  transition: 0.2s;
  display: block;
  margin: 0 0.5rem;
}

.contact a:hover {
  color: var(--green);
}

/* Tablet */
@media (min-width: 768px) {
  /* About */
  .sec h2 {
    font-size: 2.5em;
  }

  .sec .container p {
    font-size: 1.3em;
  }

  .ag-format-container {
    width: 750px;
  }

  /* Slider */
  .pen {
    max-width: 700px;
  }
  .element {
    width: 134px;
  }
  .element.inactive {
    width: 65px;
  }
  .element.active {
    width: 410px;
  }
  .stage {
    max-width: 700px;
    height: 400px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  /* Parallax Hero */
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #170424;
  }

  #text {
    font-size: 5em;
    letter-spacing: 24px;
  }

  .parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
  }

  /* Nav Menu */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 99;
  }

  header .logo {
    width: 340px;
    height: auto;
  }

  header .navigation {
    padding: 30px 0;
  }

  .navigation a {
    text-decoration: none;
    color: var(--white);
    padding: 6px 15px;
    margin: 0 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: "geometos", sans-serif;
    transition: all 0.2s ease-in;
  }

  .navigation a:hover,
  .navigation a.active {
    color: var(--green);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .sec {
    padding-top: 138px;
  }

  /* about */
  .sec h2 {
    padding-top: 10%;
    font-size: 3em;
    font-weight: 600;
    color: rgb(155, 152, 152);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    justify-content: center;
  }

  .sec .container {
    width: 60%;
  }

  .sec .container p {
    font-size: 1.5em;
  }

  /* Slider */
  .work h2 {
    font-size: 3em;
    font-weight: 600;
    color: rgb(155, 152, 152);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    justify-content: center;
  }

  .pen {
    max-width: 890px;
  }

  .stage {
    max-width: 890px;
    height: 600px;
  }

  .element {
    width: 164px;
    height: inherit;
  }

  .element.active {
    width: 691px;
  }

  .element.inactive {
    width: 32px;
  }

  /* Contact */
  .contact {
    padding: 0 0 80px 0;
    min-height: 50vh;
  }

  .contact .container {
    width: 50%;
  }

  .contact h3 {
    color: rgb(155, 152, 152);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 3em;
    padding-top: 100px;
  }

  .contact p {
    font-size: 1.5rem;
    margin: 30px 0 30px;
  }

  .contact .content {
    margin-top: 5px;
  }

  .contact span {
    font-size: 1.5em;
  }

  .contact a {
    font-size: 1.5em;
  }

  #preloader {
    background: #000 url("./gif/preloader.gif") no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}

@-webkit-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ag-format-container {
  width: 960px;
}

.services .ag-format-container h2 {
  padding: 5% 0;
}

.ag-create_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ag-create_item {
  display: block;
  width: 30%;
  background-color: #000;
  text-decoration: none;
  border: 1px solid var(--white);

  overflow: hidden;

  position: relative;
}
.ag-create_item video {
  display: block;
  max-width: 100%;
  margin: -8% auto 0;

  position: relative;
}
.ag-create_item svg {
  height: 99%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-create_item svg .cls-1 {
  fill: transparent;
  stroke: #5f5f5f;
  stroke-miterlimit: 10;

  -webkit-transition: stroke 0.4s linear;
  -moz-transition: stroke 0.4s linear;
  -o-transition: stroke 0.4s linear;
  transition: stroke 0.4s linear;
}
.ag-create_item svg .cls-2 {
  fill: #ff1923;

  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ag-create_item svg .cls-3 {
  fill: transparent;

  stroke: #ff1923;
  stroke-miterlimit: 10;

  -webkit-transition: fill 0.4s linear;
  -moz-transition: fill 0.4s linear;
  -o-transition: fill 0.4s linear;
  transition: fill 0.4s linear;
}
.ag-create_item svg .cls-4 {
  fill: none;

  stroke-miterlimit: 10;
  stroke: #fff;
}
.ag-create_title-item {
  width: 100%;
  padding: 0 30px 25px;

  -webkit-text-stroke: 1px #fff;
  stroke: 1px #fff;

  text-align: left;
  font-size: 2em;
  color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  position: relative;
}
.ag-create_item:hover .ag-create_title-item {
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0);
  stroke: 1px hsla(0, 0%, 100%, 0);

  color: #fff;
}
.ag-create_item:hover svg .cls-1 {
  stroke: #fff;
}
.ag-create_item:hover svg .cls-2 {
  opacity: 1;
}

@media only screen and (max-width: 1161px) {
  .ag-create_item {
    width: 31%;
  }
  .ag-create_title-item {
    font-size: 19px;
  }
}

@media only screen and (max-width: 979px) {
  .ag-create_box {
    display: block;
  }
  .ag-create_item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 40px;
  }
  .ag-create_item:last-child {
    margin-bottom: 0;
  }
  .ag-create_title-item {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 840px) {
  .ag-create_title-item {
    text-align: center;
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 639px) {
}

@media only screen and (max-width: 479px) {
  .services .ag-format-container h2 {
    font-size: 1em;
  }
  .ag-create_title-item {
    text-align: center;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}
