@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;700&display=swap');
@font-face {
    font-family: 'alexana';
    src: url('font/alexana-webfont.woff2') format('woff2'),
         url('font/alexana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometos';
    src: url('font/geometos.woff2') format('woff2'),
         url('font/geometos.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #003329;
    border-bottom: 1px solid #359381;
    z-index: 99;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
    font-family: 'geometos', sans-serif;
    transition: all .2s ease-in;
}

.navigation a:hover, .navigation a.active {
    color: #ffffff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #170424;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-family: 'alexana', sans-serif;
    color: #170424;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px transparent,
        0 0 82px transparent,
        0 0 92px transparent,
        0 0 102px transparent,
        0 0 151px transparent;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100vh;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

#preloader {
    background: #000 url('gif/preloader.gif') no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}